<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    This Splurty page was created by a student in the U of A Coding Bootcamp, Kasey Bell. He will presumably go on to become a fantastic developer.
  </p>
  <br />
  <p>
    He has experience in construction, retail, restaurant, ranching and pharmacy but has now chosen to tackle the endless possibilities of web development.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'ST.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Kasey Bell</h2>
    <br />
    <p>
      Kasey is a great guy but only has a tiny bit of experience in code.
    </p>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />
  
</div>